//fonts

//"Orbitron"
 @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

$Orbitron : 'Orbitron', sans-serif;

$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem; 
$xl-size: 4.8rem;

$off-white:#a6a9b3;


$desktop-breakpoint:45rem;
